.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  flex-basis: calc(30% - 2%); /* Ancho de cada tarjeta (30% del contenedor menos los márgenes) */
  margin: 1%;
  background-color: #FFF8DE;
  height: 25rem;
  align-items: flex-start;
}

.card img {
  height: 250px; /* Ajusta la altura deseada */
  width: 100%; /* Cambiado a 100% para ocupar todo el ancho de la tarjeta */
  object-fit: cover; /* Asegura que la imagen mantenga la proporción */
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #004500 !important;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.custom-button {
  margin-top: auto;
  align-self: flex-start;
  padding: 5px 10px !important;
  color: #FFF8DE !important;
  cursor: pointer !important;
  background-color: #004500 !important;
  border-radius: 10px !important;
  border-color: #004500 !important;
}

.custom-modal .modal-content {
  background-color: #FFF8DE;
  color: rgb(27, 27, 27);
}

.modal-content {
  width: 200% !important;
  max-height: 600px !important;
}

.modal-body-content {
  overflow-y: auto;
}
