.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    flex-basis: calc(20% - 10px); /* Calcula el ancho de cada tarjeta (20% del contenedor menos los márgenes) */
    margin: 5px;
    padding: 1em;
    background-color: #FFF8DE;
  }
  
  .card img {
    height: 150px;
  }

  card-title {
    color: #004500 !important;

  }
  button {
    padding: 10px 20px !important;
    color:#FFF8DE !important;
    cursor: pointer !important;
    background-color: #004500 !important;
    border-radius: 10px !important;
  }