/* .create-account-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor en la página */
/* }

.image-container {
    flex: 1;
    padding: 20px;
}

.create-account-img {
    max-width: 100%;
    height: auto; /* Asegura que la imagen se ajuste correctamente */
    /* border-radius: 8px;
} */

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../create-account/img/img-create-account.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.content-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}