.tourist-attraction-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo opcional para mejor visualización */
    border: 1px solid #ddd; /* Borde opcional para mejor visualización */
    border-radius: 8px; /* Esquinas redondeadas opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional para mejor visualización */
}

.text-content {
    flex: 1; /* Permite que el texto ocupe todo el espacio disponible */
    max-width: 100%; /* Establece un ancho máximo para el texto */
    margin-bottom: 20px; /* Espaciado entre el texto y la imagen */
    font-size: 22px; /* Ajusta el tamaño del texto según tus necesidades */
    color: #333; /* Color del texto */
}

.image-content img {
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    height: auto; /* La altura se ajustará automáticamente */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
    border-radius: 8px; /* Esquinas redondeadas opcionales */
}

@media (min-width: 768px) {
    .tourist-attraction-container {
        flex-direction: row;
    }
    
    .text-content {
        max-width: 50%; /* Establece un ancho máximo para el texto en pantallas más grandes */
        margin-right: 30px; /* Espaciado entre el texto y la imagen en pantallas más grandes */
        margin-bottom: 0; /* Elimina el margen inferior en pantallas más grandes */
    }
    
    .image-content img {
        width: 620px; /* Ancho específico para la imagen en pantallas más grandes */
        height: 310px; /* Altura específica para la imagen en pantallas más grandes */
    }
}

