.footer {
  background-color: #FFF8DE;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.footer-text {
  color: #004500;
  margin: 0;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-logos a {
  margin: 0 10px; /* Espaciado entre los enlaces */
}

.footer-logos img {
  height: 40px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
      padding: 10px;
  }

  .footer-logos a {
      margin: 5px;
  }
}
