.footer {
  background-color: #FFF8DE;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Espacia el texto y los logos */
  align-items: center; /* Centra verticalmente los elementos dentro del footer */
}

.footer-text {
  color: #004500;
  margin: 0;
  text-align: center;
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
  margin-left: 5%;
}

.footer-logos {
  display: flex;
  align-items: center;
}

.footer-logos a {
  margin: 0 5px; /* Espaciado entre los enlaces */
}

.footer-logos img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    padding: 10px;
    flex-direction: column; /* Apila los elementos verticalmente en pantallas pequeñas */
    align-items: center; /* Centra horizontalmente los elementos en pantallas pequeñas */
  }

  .footer-text {
    font-size: clamp(10px, 4vw, 13px); /* Texto más pequeño para pantallas móviles */
    margin-bottom: 10px; /* Espaciado entre el texto y los logos en pantallas pequeñas */
    margin-left: 0%;
  }

  .footer-logos img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
  .footer-logos a {
    margin: 5px;
  }
}
