.page-container-lodging {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../home/carousel/img/car-home-02.jpg');
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Capa oscura con opacidad */
    z-index: 1; /* Asegura que esté sobre el fondo */
}

.footer {
    position: relative;
    z-index: 3; /* Asegura que el NavBar y el Footer estén por encima del overlay */
}

.component-container {
    width: 100%;
    z-index: 2; /* Mantiene el contenido visible sobre el overlay */
}

.content-wrap-lodging {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2; /* Mantiene el contenido visible */
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex-basis: calc(30% - 2%);
    margin: 1%;
    background-color: #FFF8DE;
    height: 25rem;
    align-items: flex-start;
}

.button-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    z-index: 2; /* Mantiene los botones visibles */
}

.button-container button {
    padding: 10%;
    margin: 3%;
    font-size: 300%;
    font-weight: lighter;
    height: auto;
    padding: 5px 10px;
    color: #FFF8DE;
    cursor: pointer;
    background-color: #004500;
    border-radius: 10px;
    border: none;
}

.button-container button.active {
    transform: scale(1.1);
}

.button-container button:hover {
    transform: scale(1.1);
}

.lodgingTitle {
    display: flex;
    justify-content: center;
    color: #004500;
    font-size: 3.5em;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 40px;
}

.back-link {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white;
    z-index: 2; /* Asegura que el enlace esté sobre el overlay */
    cursor: pointer;
}

.back-link:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }
    .button-container button {
        width: 90%;
        margin: 5% 0;
    }
}
