/* src/navbar/navBar.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: roboto 400;
}

.navbar {
    
    display: flex;
    align-items: center;
    background-color: #FFF8DE;
    padding: 13px; /* Incrementa el padding para agrandar la navbar */
    justify-content: space-around;
}

.navbar a {
    font-size: 110%;
}

.navbar img.logobalneario {
    height: 60px; /* Incrementa el tamaño del logobalneario */
    /* margin-right: 20px; */
}

.navbar img.logoprofile {
    height: 30px; /* Reduce el tamaño del logoprofile */
    /* margin-left: 20px; Añade un margen a la izquierda si es necesario */
}

.menu-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #004500;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    
}

.navbar a:hover {
    background-color: #e0e0e0;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 1210px) {
    .menu-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FFF8DE;
        position: absolute;
        top: 80px; /* Ajusta la posición según el nuevo tamaño de la navbar */
        left: 0;
    }

    .menu-links a {
        margin: 0;
        padding: 10px;
        width: 100%;
        text-align: left;
        border-top: 1px solid #e0e0e0;
    }

    .menu-toggle {
        display: block;
    }
}