/* .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFF8DE;
} */



.profile-container {
  position: relative;
  max-width: 100%;       /* Asegúrate de que el contenedor también ocupe el ancho total */
   background-color: #FFF8DE;
}

.edit-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute; /* Para posicionarlo absolutamente */
  top: 10px;          /* Ajustar según sea necesario */
  right: 10px;        /* Moverlo a la derecha */
}

.edit-button:hover {
  background-color: #0056b3;
}

.profile-right {
  position: relative; /* Necesario para que el botón se posicione correctamente */
}



.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
      /* Ajusta la distancia horizontal entre el nombre y la foto */
}


.banner {
    width: 100%;
    height: 150px;
    /* background-image: url("../profile/img/bannerPlaya.jpg"); */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del contenedor */
  }

.banner-image {
  width: 100%;
  max-height: 230px;
  object-fit: cover;
}  

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  text-align: left;
}

.profile-left {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-right {
  flex: 2;
  padding-left: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.profile-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  /* margin-bottom: 20px; */
  width: 100%;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 10px; */
}

.name-container {
  display: flex;
  justify-content:start;
  width: 100%;
  
  
}

.name {
  font-size: 35px;
  color: #333;
  margin: 0 0 0 20px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #004500;
  color: white;
  border-radius: 5px;
  align-self: flex-end;
  margin-top: 10px;
}

.upload-button {
  display: none;
}


.modal-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-profile {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.modal-content-profile h2 {
  margin-top: 0;
}

.modal-content-profile label {
  display: block;
  margin-top: 10px;
}

.modal-content-profile input[type="text"],
.modal-content-profile input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

/* Contenedor de los botones */
.modal-buttons-profile {
  display: flex;
  flex-direction: column; /* Alineación vertical */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
}

/* Estilos del botón "Guardar" */
.save-button-profile,
.cancel-button-profile {
  width: 100%; /* Ambos botones ocuparán el ancho completo del modal */
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Botón "Guardar" */
.save-button-profile {
  background-color: #007bff;
  color: white;
}

.save-button-profile:hover {
  opacity: 0.9;
}

/* Botón "Cancelar" */
.cancel-button-profile {
  background-color: #f8f9fa !important; /* Fondo claro */
  color: #6c757d !important;
  border : none;
  
}

.cancel-button-profile:hover {
  background-color: #e2e6ea !important; /* Fondo más claro en hover */
  opacity: 0.9 !important;
}