/* TouristAttractions.css */

.tourist-attractions-container {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    
}

.tourist-title {
    font-size: 3em;
    color: #333;
    text-align: center; /* Centrado del texto dentro del contenedor */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    display: block; /* Asegura que el elemento se comporte como un bloque completo */
}



.carousel-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tourist-swiper-container,
.side-image {
    height: 60vh;
    width: 45%;
    display: flex;
    justify-content: center; /* Centramos el contenido horizontalmente */
    align-items: center;    /* Centramos el contenido verticalmente */
}

.tourist-slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tourist-slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tourist-swiper-container .swiper-button-prev::after, 
.tourist-swiper-container .swiper-button-next::after {
    color: #f7f7f7;
}

.tourist-swiper-container .swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #f7f7f7;
}

.side-image {
    cursor: pointer;
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
}

.side-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    max-width: 1037px;
}

.side-image img.enlarged {
    transform: scale(1.5);
    z-index: 10;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}

  
