@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* TouristAttractions.css */
/* TouristAttractions.css */

.tourist-attractions-container {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .tourist-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .carousel-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para asegurar que se comporten bien en pantallas pequeñas */
  }
  
  .tourist-swiper-container {
    height: 60vh;
    width: 50%;
  }
  
  .tourist-slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tourist-slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tourist-swiper-container .swiper-button-prev::after, 
  .tourist-swiper-container .swiper-button-next::after {
    color: #f7f7f7;
  }
  
  .tourist-swiper-container .swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #f7f7f7;
  }
  
  .side-image {
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
  }
  .side-image img.enlarged {
    transform: scale(1.5); /* Ajusta el valor de escala según tus necesidades */
    z-index: 10; /* Asegúrate de que la imagen agrandada esté sobre otros elementos */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  
  .side-image img {
    width: 100%;
    max-width: 900px; /* Ajustar el tamaño máximo de la imagen lateral */
    height: auto; /* Mantener la proporción de la imagen */
  }
  
  
  
