/* TouristAttractions.css */

.tourist-attractions-container {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
}

.tourist-title {
    font-size: 3em;
    color: #333;
    text-align: center;
    width: 100%;
    display: block;
}

.carousel-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tourist-swiper-container,
.side-image {
    height: 60vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tourist-slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tourist-slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tourist-swiper-container .swiper-button-prev::after, 
.tourist-swiper-container .swiper-button-next::after {
    color: #f7f7f7;
}

.tourist-swiper-container .swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #f7f7f7;
}

.side-image {
    padding-right: 4%;
    cursor: pointer;
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
}

.side-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    max-width: 1037px;
}

.side-image img.enlarged {
    transform: scale(1.5);
    z-index: 10;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .carousel-and-image {
        flex-direction: column;
        padding: 0 5%;
    }

    .tourist-swiper-container,
    .side-image {
        width: 100%;
        height: auto;
    }

    .side-image {
        padding-right: 0; /* Elimina el padding en pantallas pequeñas */
        padding-bottom: 20px; /* Añade espacio entre el carrusel y la imagen lateral */
    }

    .tourist-title {
        font-size: 2.5em; /* Ajusta el tamaño del texto en pantallas más pequeñas */
    }
}


  
