@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #FFF8DE;
  padding: 15px 20px; /* Aumenta el padding para agrandar la barra de navegación */
  justify-content: space-between;
}

.navbar img.logobalneario {
  height: 70px; /* Ajusta la altura del logo del balneario */
}

.logoprofile {
  height: 28px; /* Ajusta la altura del logo de perfil */
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que los enlaces estén centrados en la navbar */
  flex-grow: 1; /* Permite que el contenedor de enlaces ocupe el espacio restante */
  margin-right: 110px;
}

.menu-links a {
  display: flex;
  justify-content: center; /* Centra el texto dentro del enlace */
  align-items: center; /* Asegura que el texto esté centrado verticalmente */
}

.navbar a {
  color: #004500;
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;

  font-size: 28px;
}

.navbar a:hover {
  background-color: #e0e0e0;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1210px) {
  .menu-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu-links a {
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e0e0e0;
  }

  .menu-toggle {
    display: block;
  }
}

