/* src/navbar/navBar.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFF8DE;
    padding: 13px; /* Incrementa el padding para agrandar la navbar */
    justify-content: space-between;
}

.navbar img.logobalneario {
    height: 60px; /* Incrementa el tamaño del logobalneario */
    margin-right: 20px;
}

.navbar img.logoprofile {
    height: 30px; /* Reduce el tamaño del logoprofile */
    margin-left: 20px; /* Añade un margen a la izquierda si es necesario */
}

.menu-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #004500;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #e0e0e0;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FFF8DE;
        position: absolute;
        top: 80px; /* Ajusta la posición según el nuevo tamaño de la navbar */
        left: 0;
    }

    .menu-links a {
        margin: 0;
        padding: 10px;
        width: 100%;
        text-align: left;
        border-top: 1px solid #e0e0e0;
    }

    .menu-toggle {
        display: block;
    }
}


